/*Globales */
*{
  margin:0;
  padding:0;
 box-sizing: border-box; 
 text-decoration:none;
 list-style: none;
}
html{
  scroll-behavior: smooth;
}
body{
  height:100vh;
  line-height:1.6;
  font-family: 'Roboto', sans-serif;
}
section h1{
  display:inline;
  color:rgb(198,198,198);
  border-bottom:0.7rem rgb(237,201,31) solid;
  font-size:3rem;
}

.container{
width:100%;
height:100%;


}

/*NAV */
nav{
  text-transform: uppercase;
  display:flex;
  justify-content: space-between;
  background:rgb(30,45,59);
  height:10vh;
  position:fixed;
  top:0;
  width:100vw;
  z-index:4;
}
nav .title,
nav .navbar{
  padding:2rem;
}
nav .title{
  color:rgb(30,45,59);
  display:flex;
  background:rgb(237,201,31);
}
nav .title i{
  
  
}

nav .navbar  ul{
  display:flex;
}
nav .navbar ul li a{
  padding:1.5rem;
  color:#f4f4f4;
  transition:0.5s;
}
nav .navbar ul li a:hover{
  color:rgb(237,201,31);
}



/* SECCIONES*/
section{
  width:100%;
  height:100%;
  padding-top:5rem;
  min-height:400px;
 text-align:center;
  
}
section#inicio h1{
  font-size:4rem;
  border-bottom:none;
  color:white;
}
/* SECTION INICIO*/
section#inicio {
  background:url(https://images.pexels.com/photos/919179/pexels-photo-919179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center -400px no-repeat;
  
  color:white !important;
  
  text-transform:uppercase;
  
}

section#inicio .inicio-text{
  width:40vw;
  margin:12rem auto;
}


/*SECTION SERVICIO */




section#servicios {
  width:70%;
  margin:0 auto;
}
section#servicios .flex-3{
  margin-top:3rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1rem;
}

section#servicios .flex-3 .columna{
  background-color:rgb(240,240,240);
  width:90%;
  height:auto;
}


section#servicios .flex-3 .columna img{
width:100%;
}
section#servicios .flex-3 .columna h3{
  font-size:1.5rem;
  color:rgb(30,45,59);
  padding-bottom:1rem;
}


/*Section Nosotros */
section#nosotros{
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color:#f4f4f3;
}

/* SECTION NOSOTROS IZQUIERDA*/
section#nosotros .izquierda{
width:60%;
text-align:left;
margin-left:20rem;
font-size:1.2rem;

}

section#nosotros .izquierda h1{
  margin-top:1rem;
  text-transform:uppercase;
  color:rgb(198,198,198);
  display:inline-block;
  border-bottom:0.7rem rgb(237,201,31) solid;
  margin-bottom:2rem;
}

/* SECTION NOSOTROS DERECHA*/
section#nosotros .derecha{
background-image:url(https://images.pexels.com/photos/159306/construction-site-build-construction-work-159306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
background-attachment: fixed;
}




/*SECTION PROYECTOS */
section#proyectos .tabla{
align-content: center;
 display:grid;
 grid-template-columns:40% 40%;
 grid-gap:1rem;
 padding-left:18rem;
 margin-top:3rem;
}




section#proyectos .proyecto{
width:400px;
height:400px;
background-position: center;
background-size:cover;
margin:0 auto;
}


section#proyectos .proyecto h3{
  margin-top:10rem;
  font-size: 0%;
  }
/*PROYECTO A  FOTO*/

section#proyectos .tabla .proyecto.a{
  background-image: url(https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}


/*PROYECTO B  FOTO*/
section#proyectos .tabla .proyecto.b{
  background-image: url(https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ;
  
}

/*PROYECTO C  FOTO*/
section#proyectos .tabla .proyecto.c{
 background-image: url(https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) ;
}
/*PROYECTO D  FOTO*/
section#proyectos .tabla .proyecto.d{
 background-image: url(https://images.pexels.com/photos/443378/pexels-photo-443378.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) ;
}

section#proyectos .proyecto.a:hover,
section#proyectos .proyecto.b:hover,
section#proyectos .proyecto.c:hover,
section#proyectos .proyecto.d:hover{
  font-size:3rem !important;

  color:white;
  width:450px;
  height:450px;
}



/*SECTION CONTACTO */
section#contacto{
  margin-top:7rem;
  
  
}
section#contacto h3{
  font-size:1.5rem;
color:rgb(30,45,59);

  
}
section#contacto .container{
  display:flex;
  margin:0 auto;
  width:50%;
  text-align:left;
  
}
section#contacto .container .izquierda,
section#contacto .container .derecha{
  flex-grow: 2;
  margin:1rem;
}

section#contacto .container .izquierda form{
display:flex;
flex-direction:column;  

}

section#contacto .container .izquierda form input{
  margin:0.3rem;
  border:none;
  background-color:rgb(240,240,240);
  padding:1.1em;
  font-size:1.1em;
  
}

section#contacto .container .izquierda form  input[type="submit"]{
margin:15px auto;
color:white;
width:20%;
 background-color:rgb(30,45,59);
}

section#contacto .container .derecha a{
 color:rgb(237,201,31)
}